extends layout

block content
  h1= title
  p Welcome!

  h3 Available APIs
  ul
    li <em> <b>POST</b> /api/login </em>
    li <em> <b>POST</b> /api/users </em>
    li <em> <b>GET</b> /api/users </em>
    li <em> <b>GET</b> /api/users/:id </em>
    li <em> <b>DELETE</b> /api/users/:id </em>
